#telaPrimaria{
    height: 100%;
    padding-top: 70px;
}
.cardOpcao{
    margin: 5px;
    padding: 5px;
}
#containerForm{
    width: 96%;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(236,239,248);
    padding: 5px;
}