<div id="zooDividaContainer" *ngIf="mostrarDividaEmZoon">
  <div id="cardDividaZoo">
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: left;">
          {{itenDividaEmZooAtual['dadosDia']}}/{{itenDividaEmZooAtual['mes']}}/{{itenDividaEmZooAtual['ano']}}
        </ion-col>
        <ion-col style="text-align: right;color: red;">
          {{itenDividaEmZooAtual['categoria']}}
        </ion-col>
      </ion-row>
      <div style="width: 100%;"> 
        <table style="width: 100%;margin: 5px;">
          <tr>
            <td style="padding:10px;border-bottom: 1px solid rgba(0,0,0,.1);">
              Oque:
            </td>
            <td style="color:#ffff;">
              {{itenDividaEmZooAtual['oque']}}
            </td>
          </tr>
          <tr>
            <td style="padding:10px;border-bottom: 1px solid rgba(0,0,0,.1);">Onde:</td>
            <td style="color:#ffff;">
              {{itenDividaEmZooAtual['onde']}}
            </td>
          </tr>
          <tr>
            <td style="padding:10px;border-bottom: 1px solid rgba(0,0,0,.1);">Quanto:</td>
            <td style="color:#ffff;">
              {{itenDividaEmZooAtual['quanto'] | currency:'BRL':true}}
            </td>
          </tr>
          <tr>
            <td style="padding:10px;border-bottom: 1px solid rgba(0,0,0,.1);">Como:</td>
            <td style="color:#ffff;">
              {{itenDividaEmZooAtual['como']}}
            </td>
          </tr>
        </table>
      </div>
      <ion-button (click)="trougleZoonViewDivida({})">
        ok
      </ion-button>
    </ion-grid>
  </div>
</div>

<div id="editarDividaContainer" *ngIf="mostrarDividaEmEdicao">
  <div id="cardDividaEdit">
    <h3 style="color: #ffff;">Edite seu boleto</h3>
      <input class="inptEditDivida" type="text" placeholder="oque?" id="oque" [value]="itenDividaEmEdicao['oque']">
      <input class="inptEditDivida" type="text" placeholder="onde?" id="onde" [value]="itenDividaEmEdicao['onde']">
      <input class="inptEditDivida" type="number" placeholder="quanto?" id="quanto" [value]="itenDividaEmEdicao['quanto']">
      <input class="inptEditDivida" type="text" placeholder="como?" id="como" [value]="itenDividaEmEdicao['como']">
     
      <div style="margin: 10px;">
        <label>Data:</label>
        <select style="margin: 3px;" id="dia">
          <option selected style="color: blue;">{{itenDividaEmEdicao['dadosDia']}}</option>
          <option *ngFor="let dia of dataETotalDias['dias']">{{dia}}</option>
        </select>
        <select style="margin: 3px;" disabled id="mes">
          <option>{{itenDividaEmEdicao['mes']}}</option>
        </select>
        <select style="margin: 3px;" disabled id="ano">
          <option>{{itenDividaEmEdicao['ano']}}</option>
        </select>
      </div>

      <div style="width: 100%;">
        <img src="../../../assets/Blocks-1s-200px.svg" *ngIf="loadingEdicaoDivida" style="width: 90px;">
        <ion-button color="danger" (click)="editDivida({})" *ngIf="loadingEdicaoDivida === false">Cancelar</ion-button>
        <ion-button color="success" (click)="salvarModificacao()" *ngIf="loadingEdicaoDivida === false">Salvar</ion-button>
      </div>
  </div>
</div>


<div id="adicionarDividaContainer" *ngIf="trougleCardAddDivida">
  <div id="cardDividaAdd">
    <h3 style="color: #ffff;">Adicionar Boleto</h3>

    <form [formGroup]="dadosDivida" (submit)="salvarDivida()">

      <ion-item>
        <label>Data da compra:</label>
        <select formControlName="dadosDia" class="inputSelectData">
          <option *ngFor="let dia of dias" value="{{dia}}">{{dia}}</option>
        </select>
        <select class="inputSelectData" disabled>
          <option [value]="mes">{{mes}}</option>
        </select>
        <select class="inputSelectData" disabled>
          <option [value]="ano">{{ano}}</option>
        </select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">O'que ?</ion-label>
        <ion-input formControlName="oque" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Onde ?</ion-label>
        <ion-input formControlName="onde" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quanto ? R$</ion-label>
        <ion-input formControlName="quanto" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Como ?</ion-label>
        <ion-input formControlName="como" ></ion-input>
      </ion-item>
      <div style="width: 100%;text-align: center;">
        <img *ngIf="loadingSalvar" src="../../assets/Blocks-1s-200px.svg" style="width: 50px;">
        <ion-button *ngIf="loadingSalvar === false" type="submit" color="success" size="small">Salvar</ion-button>
      </div>
    </form>

      <div style="width: 100%;">
        <img src="../../../assets/Blocks-1s-200px.svg" *ngIf="loadingAddDivida" style="width: 90px;">
        <ion-button color="danger" (click)="trougleAddDivida()" *ngIf="loadingAddDivida === false">Cancelar</ion-button>
        <ion-button color="success" (click)="salvaBoleto()" *ngIf="loadingAddDivida === false">Salvar</ion-button>
      </div>
  </div>
</div>

<div id="telaPrimaria">

  <div style="text-align: center;width: 90%;margin-left: auto;margin-right: auto;">
    <h4>Limites de orçamento</h4>
  </div>
  
  <div id="containerForm">
    <form [formGroup]="dadosCat" (submit)="salvaHierarquiaCat()">

      <ion-grid class="cardOpcao">
        <ion-row>
          <ion-col style="text-align: right;">
            Alimentação:
          </ion-col>
          <ion-col style="padding-left: 2px;">
            <select formControlName="alimentacao">
              <option value="40" selected>40%</option>
              <option value="30">30%</option>
              <option value="20">20%</option>
              <option value="10">10%</option>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid class="cardOpcao">
        <ion-row>
          <ion-col style="text-align: right;">
            Transporte:
          </ion-col>
          <ion-col style="padding-left: 2px;">
            <select formControlName="transporte">
              <option value="40" selected>40%</option>
              <option value="30">30%</option>
              <option value="20">20%</option>
              <option value="10">10%</option>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid class="cardOpcao">
        <ion-row>
          <ion-col style="text-align: right;">
            Lazer:
          </ion-col>
          <ion-col style="padding-left: 2px;">
            <select formControlName="lazer">
              <option value="40" selected>40%</option>
              <option value="30">30%</option>
              <option value="20">20%</option>
              <option value="10">10%</option>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid class="cardOpcao">
        <ion-row>
          <ion-col style="text-align: right;">
            Saúde:
          </ion-col>
          <ion-col style="padding-left: 2px;">
            <select formControlName="saude">
              <option value="40" selected>40%</option>
              <option value="30">30%</option>
              <option value="20">20%</option>
              <option value="10">10%</option>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid class="cardOpcao">
        <ion-row>
          <ion-col style="text-align: right;">
            Beleza:
          </ion-col>
          <ion-col style="padding-left: 2px;">
            <select formControlName="beleza">
              <option value="40" selected>40%</option>
              <option value="30">30%</option>
              <option value="20">20%</option>
              <option value="10">10%</option>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid class="cardOpcao">
        <ion-row>
          <ion-col style="text-align: right;">
            Imprevistos:
          </ion-col>
          <ion-col style="padding-left: 2px;">
            <select formControlName="imprevistos">
              <option value="40" selected>40%</option>
              <option value="30">30%</option>
              <option value="20">20%</option>
              <option value="10">10%</option>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div style="width: 100;text-align: center;"> 
        <img *ngIf="loadingSalvaDados" src="../../../assets/Blocks-1s-200px.svg" style="width: 90px;">
        <ion-button type="submit" *ngIf="loadingSalvaDados === false">Salvar</ion-button>
      </div>
    </form>
  </div>


  
  <div style="text-align: center;width: 90%;margin-left: auto;margin-right: auto;margin-top: 45px;">
    <h4>Dividas fixa</h4>
  </div>
  
  <div class="containerAcoes">
    <div style="text-align: left;width: 100%;">
      <small style="color: green;" (click)="trougleAddDivida()">Adicionar Divida fixa +</small> 
    </div>
    <div class="cardDividaFixas" *ngFor="let item of dividasFixas">
      <div class="infoDivida">
        <table style="width: 100%;">
          <tr style="text-align: center;">
            <td class="tituloCardGastos" >Data</td>
            <td class="tituloCardGastos" >O'que</td>
            <td class="tituloCardGastos" >Onde</td>
            <td class="tituloCardGastos" >Quanto</td>
            <td class="tituloCardGastos" >Como</td>
          </tr>
          <tr style="color: black;">
            <td style="padding: 5px;">
              <small>{{item.dadosDia}}/{{item.mes}}/{{item.ano}}</small>
            </td>
            <td style="padding: 5px;">{{(item.oque).substr(0,3)}}<span *ngIf="(item.oque).length >= 4">...</span></td>
            <td style="padding: 5px;">{{(item.onde).substr(0,3)}}<span *ngIf="(item.onde).length >= 4">...</span></td>
            <td style="padding: 5px;">{{item.quanto | currency:'BRL':true}}</td>
            <td style="padding: 5px;">{{(item.como).substr(0,3)}}<span *ngIf="(item.como).length >= 4">...</span></td>
          </tr>
        </table>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="secondary" size="small" (click)="trougleZoonViewDivida(item)">Ver</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" size="small" (click)="editDivida(item)">Edit</ion-button>
          </ion-col>
          <ion-col>
            <ion-button  color="danger" size="small" (click)="deletarDivida(item)">Del</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
      
     
  </div>

 
</div>
