<div style="width: 100%;text-align: center;margin-top: 30px;border-top: solid 1px rgba(0,0,0,.1);">
  <h3>Informe o salario mensal</h3>
</div>
<form [formGroup]="dadosSalario" (submit)="salvarSalario()" style="width: 80%;margin-left: auto;margin-right: auto;">
  <ion-item>
    <ion-label position="floating">R$ salario</ion-label>
    <ion-input formControlName="salario" type="number"></ion-input>
  </ion-item>
  <div style="text-align: center;padding-top: 15px;">
    <ion-button color="success" type="submit">Salvar</ion-button>
  </div>
</form>