#telaCadastro{
    background-image:  linear-gradient( -0.2turn,  rgb(122,176,221), #00cf95 );
    height: 100%;
    padding-top: 25px;
}
#logoFont{
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
    font-size: 40px;
  }
ion-item{
 
    background-color:  rgb(255,255,255,.2);
    margin: 10px;
}