

<ion-content [fullscreen]="true" >
  <div id="telaPrimaria" style="padding-top: 60px;">
   
  

    <div id="painelValoresInfo">
      
      <ion-grid  style="margin: 0px;">
        <ion-row style="margin: 0px;">
          <ion-col size="7">
            <img src="./assets/icon/editLapis.png" (click)="monstrarConfigValorSalario()" style="width: 20px;">
            <small id="salarioInfo">{{salarioMes | currency:'BRL':true}}</small> |
            <small style="margin-left: 5px;color: red;">{{totalDividas | currency:'BRL':true}}</small>
          </ion-col>
          <ion-col style="text-align: right;padding-top: 10px;">
            <small style="margin-left: 5px;color: rgb(128, 119, 0);border-bottom: 1px solid greenyellow;">{{restoSalario | currency:'BRL':true}}</small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div id="telaDespesasAtuais">
      <div style="width: 100%;text-align: center;" *ngIf="loadingItens">
        <img src="../../assets/Blocks-1s-200px.svg">
      </div>
        
      <div class="cardProd" *ngFor="let item of listaDeDividas">
        <table style="width: 100%;">
          <tr style="text-align: center;">
            <td class="tituloCardGastos" >Data</td>
            <td class="tituloCardGastos" >O'que</td>
            <td class="tituloCardGastos" >Onde</td>
            <td class="tituloCardGastos" >Quanto</td>
            <td class="tituloCardGastos" >Como</td>
          </tr>
          <tr style="color: black;">
            <td style="padding: 5px;">
              <small>{{item.dadosDia}}/{{item.mes}}/{{item.ano}}</small>
            </td>
            <td style="padding: 5px;">{{(item.oque).substr(0,3)}}<span *ngIf="(item.oque).length >= 4">...</span></td>
            <td style="padding: 5px;">{{(item.onde).substr(0,3)}}<span *ngIf="(item.onde).length >= 4">...</span></td>
            <td style="padding: 5px;">{{item.quanto | currency:'BRL':true}}</td>
            <td style="padding: 5px;">{{(item.como).substr(0,3)}}<span *ngIf="(item.como).length >= 4">...</span></td>
          </tr>
        </table>
        <div style="width: 100%;text-align: right;">
          <ion-button color="primary" size="small" (click)="DividaZoon(item)">Ver</ion-button>
          <!--<ion-button color="tertiary" size="small" >EDIT</ion-button>-->
          <ion-button color="danger" size="small" (click)="presentAlertConfirmDelDivida(item)">DEL</ion-button>
        </div>
      </div>


      <div id="popupVerDivida" *ngIf="verDividaZoon">
        <ion-grid>
          <ion-row>
            <ion-col><span>{{verDividaZoon.dadosDia}}/{{verDividaZoon.mes}}/{{verDividaZoon.mes}}</span></ion-col>
            <ion-col style="text-align: right;"><span>{{verDividaZoon.categoria}}</span></ion-col>
          </ion-row>
        </ion-grid>
        <div style="width: 100%;text-align: center;padding: 10px;margin-top: 35px;"> 
          <h2>{{verDividaZoon.oque}}</h2>
          <h4>{{verDividaZoon.onde}}</h4>
          <h4>{{verDividaZoon.quanto | currency:'BRL':true}}</h4>
          <p>
            {{verDividaZoon.como}}
          </p>  
        </div>
        <div style="margin: 15px;">
          <ion-button (click)="escondeDividaZoon()" color="secondary" expand="block" style="margin-top: 15px;">OK</ion-button>
        </div> 
      </div>

      <div id="menuConfSalario" class="esconde">
        <div style="width: 100%;text-align: right;padding-right: 15px;padding-top: 10px;">
          <img (click)="escondeConfigValorSalario()" src="./assets/icon/close.png" style="width: 25px;">
        </div>
          <div style="width: 100%;">
            <table id="listaMapaFinanceiro">
              <tr style="display: inline;">
                <td style="padding: 5px;"><div id="rectSalario"></div></td>
                <td>Salario |</td>
              </tr>
              <tr style="display: inline;">
                <td style="padding: 5px;"><div id="rectDespesas"></div></td>
                <td>Divida |</td>
              </tr>
              <tr style="display: inline;">
                <td style="padding: 5px;"><div id="rectTotalResto"></div></td>
                <td> Salario Restante </td>
              </tr>
            </table>
            <ul style="list-style: none;margin-left: auto;margin-right: auto;">
              <li>Salario: <span style="color: green;"><b>{{salarioMes | currency:'BRL':true}}</b></span></li>
              <li>Valor Total Divida: <span style="color: red;"><b>{{totalDividas | currency:'BRL':true}}</b></span></li>
              <li>Valor resto salario: <span style="color: rgb(128, 119, 0);"><b>{{restoSalario | currency:'BRL':true}}</b></span> </li>
            </ul>
          </div>
        <app-config-salario></app-config-salario>
      </div>
    </div>
  </div>
  

  <footer id="rodapeMenu">
    <div style="width: 100%;">
      <ion-grid>
        <ion-row>
          <ion-col size="10" style="text-align: center;color: white;" *ngIf="mostraFormDespesa">
            <h3 style="margin: 0px;">Adicionar Despesa</h3>
          </ion-col>
          <ion-col style="text-align: right;color: forestgreen;font-size: 38px;">
            <ion-icon name="add-circle" (click)="mostraFormAddGasto()" *ngIf="mostraFormDespesa === false"></ion-icon>
            <ion-icon name="chevron-down-circle" (click)="escondeFormAddGsto()" *ngIf="mostraFormDespesa"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <form *ngIf="mostraFormDespesa" [formGroup]="dadosDivida" (submit)="salvarDivida()">

      <ion-item>
        <label>Data da compra:</label>
        <select formControlName="dadosDia" class="inputSelectData">
          <option *ngFor="let dia of dias" value="{{dia}}">{{dia}}</option>
        </select>
        <select class="inputSelectData" disabled>
          <option [value]="mes">{{mes}}</option>
        </select>
        <select class="inputSelectData" disabled>
          <option [value]="ano">{{ano}}</option>
        </select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">O'que ?</ion-label>
        <ion-input formControlName="oque" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Onde ?</ion-label>
        <ion-input formControlName="onde" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quanto ? R$</ion-label>
        <ion-input formControlName="quanto" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Como ?</ion-label>
        <ion-input formControlName="como" ></ion-input>
      </ion-item>
      <ion-item>
        <label>Informe o tipo:</label>
        <select formControlName="categoria" class="inputSelectData" style="width: 50%;margin-left: auto;margin-right: auto;">
          <option>Alimentação</option>
          <option>Transporte</option>
          <option>Lazer</option>
          <option>Saude</option>
          <option>Beleza</option>
          <option>Imprevistos</option>
          <option>Menssais</option>
        </select>
      </ion-item>
      <div style="width: 100%;text-align: center;">
        <img *ngIf="loadingSalvar" src="../../assets/Blocks-1s-200px.svg" style="width: 50px;">
        <ion-button *ngIf="loadingSalvar === false" type="submit" color="success" size="small">Salvar</ion-button>
      </div>
    </form>
   </footer>
 
</ion-content>
